Repository proveskit/pysquared: changes, and which pre-commit hooks are due for each by the changed paths.
All: prevent-type-ignore, prevent-pyright-ignore

prevent-type-ignore:
  name: prevent type ignore annotations
  description: 'Enforce that no `# type: ignore` annotations exist in the codebase.'
  entry: '# type:? *ignore'
  language: pygrep

prevent-pyright-ignore:
  name: prevent pyright ignore annotations
  description: 'Enforce that no `# type: ignore` annotations exist in the codebase.'
  entry: '# pyright:? *.*false'
  language: pygrep

Add ability to log to file
  .pre-commit-config.yaml
  pyproject.toml
  pysquared/boot/__init__.py
  pysquared/boot/storage.py
  pysquared/boot_functions.py
  pysquared/logger.py
  pysquared/sd_card.py
Due: prevent-type-ignore, prevent-pyright-ignore

Add boot.filesystem tests
  mocks/circuitpython/storage.py
  pysquared/beacon.py
  pysquared/boot/filesystem.py
  tests/unit/boot/test_filesystem.py
Due: prevent-type-ignore, prevent-pyright-ignore

Add tests for logger.py
  pysquared/logger.py
  tests/unit/test_logger.py
Due: prevent-pyright-ignore

Clean up test_logger
  tests/unit/test_logger.py
Due: none

Fix call to time.sleep
  pysquared/boot/filesystem.py
Due: prevent-type-ignore, prevent-pyright-ignore

Initial sd_card test
  mocks/circuitpython/storage.py
  pysquared/sd_card.py
  tests/unit/boot/test_filesystem.py
Due: prevent-type-ignore, prevent-pyright-ignore

Add tests for SD Card
  mocks/circuitpython/storage.py
  pyproject.toml
  pysquared/sd_card.py
  tests/unit/hardware/test_burnwire.py
Due: prevent-type-ignore, prevent-pyright-ignore

Readd removed files
  .pre-commit-config.yaml
  mocks/circuitpython/sdcardio.py
  pysquared/hardware/sd_card/__init__.py
  pysquared/hardware/sd_card/sd_card.py
  tests/unit/hardware/burnwire/test_burnwire.py
  tests/unit/hardware/sd_card/test_sd_card.py
Due: prevent-type-ignore, prevent-pyright-ignore

Remove unused mocks
  mocks/circuitpython/sdcardio.py
  mocks/circuitpython/storage.py
Due: none

Remove annotation import
  mocks/circuitpython/storage.py
Due: none

Reorganize
  .pre-commit-config.yaml
  pyproject.toml
  pysquared/hardware/sd_card/manager/__init__.py
  pysquared/hardware/sd_card/manager/sd_card.py
  tests/unit/hardware/burnwire/manager/test_burnwire.py
  tests/unit/hardware/sd_card/manager/test_sd_card.py
Due: prevent-type-ignore, prevent-pyright-ignore

Use setter instead of constructor arg to set log dir
  pysquared/logger.py
  tests/unit/test_logger.py
Due: prevent-pyright-ignore

makes power monitor more specific
  pysquared/hardware/power_monitor/manager/ina219.py
Due: prevent-type-ignore, prevent-pyright-ignore

Revert "makes power monitor more specific"
  pysquared/hardware/power_monitor/manager/ina219.py
Due: prevent-type-ignore, prevent-pyright-ignore

makes power monitor more specific again
  pysquared/hardware/power_monitor/manager/ina219.py
Due: prevent-type-ignore, prevent-pyright-ignore

reduce complexity
  pysquared/beacon.py
  pysquared/binary_encoder.py
Due: prevent-type-ignore, prevent-pyright-ignore

fix type check error
  pysquared/binary_encoder.py
Due: prevent-type-ignore, prevent-pyright-ignore

fix type check error
  tests/unit/test_binary_encoder.py
Due: none

pass linter
  pysquared/hardware/power_monitor/manager/ina219.py
  tests/unit/hardware/power_monitor/manager/test_ina219_manager.py
Due: prevent-type-ignore, prevent-pyright-ignore

tests running not passing
  cpython-workspaces/flight-software-mocks/src/mocks/adafruit_lis2mdl/lis2mdl.py
  cpython-workspaces/flight-software-unit-tests/src/unit-tests/hardware/magnetometer/manager/test_lis2mdl_manager.py
  cpython-workspaces/flight-software-unit-tests/src/unit-tests/hardware/radio/manager/test_rfm9x_manager.py
  cpython-workspaces/flight-software-unit-tests/src/unit-tests/rtc/manager/test_microcontroller_manager.py
  cpython-workspaces/flight-software-unit-tests/src/unit-tests/test_beacon.py
Due: none

typeshed working
  Makefile
  circuitpython-workspaces/flight-software/pyproject.toml
  circuitpython-workspaces/pyrightconfig.json
  cpython-workspaces/pyrightconfig.json
  pyproject.toml
  pyproject.toml.bak
Due: none

docs working
  circuitpython-workspaces/flight-software/pyproject.toml
  mkdocs.yaml
  pyproject.toml
  uv.lock
Due: none

Tests running in vscode ui
  .vscode/settings.json
  Makefile
  circuitpython-workspaces/flight-software/pyproject.toml
  cpython-workspaces/flight-software-mocks/pyproject.toml
  cpython-workspaces/flight-software-mocks/src/mocks/__init__.py
  cpython-workspaces/flight-software-unit-tests/pyproject.toml
  pyproject.toml
  pysquared.code-workspace
  sonar-project.properties
  uv.lock
Due: none

Add extensions to workspace recommendation and update .gitignore
  .gitignore
  pysquared.code-workspace
Due: none

typecheck passing
  cpython-workspaces/flight-software-unit-tests/src/unit-tests/hardware/radio/manager/test_rfm9x_manager.py
  cpython-workspaces/flight-software-unit-tests/src/unit-tests/rtc/manager/test_microcontroller_manager.py
Due: none

Fixed up lis2mdl test
  cpython-workspaces/flight-software-unit-tests/src/unit-tests/hardware/magnetometer/manager/test_lis2mdl_manager.py
Due: none

Down to 13 test errors
  cpython-workspaces/flight-software-unit-tests/src/unit-tests/hardware/radio/manager/test_rfm9x_manager.py
  cpython-workspaces/flight-software-unit-tests/src/unit-tests/test_logger.py
  cpython-workspaces/flight-software-unit-tests/src/unit-tests/test_watchdog.py
Due: none

5 test errors left
  cpython-workspaces/flight-software-unit-tests/src/unit-tests/test_beacon.py
Due: none

Reuse existing mocks where possible
  cpython-workspaces/flight-software-unit-tests/src/unit-tests/hardware/radio/manager/test_rfm9x_manager.py
  cpython-workspaces/flight-software-unit-tests/src/unit-tests/test_beacon.py
Due: none

All type errors fixed
  cpython-workspaces/flight-software-unit-tests/src/unit-tests/test_beacon.py
Due: none

Cleanup
  .pre-commit-config.yaml
  cpython-workspaces/flight-software-mocks/src/mocks/adafruit_lis2mdl/lis2mdl.py
  cpython-workspaces/flight-software-unit-tests/src/unit-tests/hardware/magnetometer/manager/test_lis2mdl_manager.py
  cpython-workspaces/flight-software-unit-tests/src/unit-tests/hardware/radio/manager/test_rfm9x_manager.py
  docs/design-guide.md
Due: none

Remove unused mocks
  cpython-workspaces/flight-software-mocks/src/mocks/adafruit_lis2mdl/lis2mdl.py
  cpython-workspaces/flight-software-mocks/src/mocks/circuitpython/busio.py
  cpython-workspaces/flight-software-mocks/src/mocks/circuitpython/rtc.py
  cpython-workspaces/flight-software-mocks/src/mocks/rv3028/rv3028.py
  cpython-workspaces/flight-software-unit-tests/src/unit-tests/rtc/manager/test_rv3028_manager.py
Due: none

Remove build steps
  .github/workflows/ci.yaml
  Makefile
Due: none

Remove ignore from pyrightconfig
  circuitpython-workspaces/pyrightconfig.json
  cpython-workspaces/pyrightconfig.json
Due: none

Remove depedency on stubs
  circuitpython-workspaces/flight-software/pyproject.toml
  cpython-workspaces/flight-software-mocks/pyproject.toml
  cpython-workspaces/flight-software-mocks/src/mocks/circuitpython/digitalio.py
  cpython-workspaces/flight-software-unit-tests/pyproject.toml
  cpython-workspaces/flight-software-unit-tests/src/unit-tests/hardware/test_digitalio.py
  cpython-workspaces/flight-software-unit-tests/src/unit-tests/test_watchdog.py
  uv.lock
Due: none

Path conditions:
  prevent-type-ignore: any of: ^pysquared/ and \.py$ and not (^pysquared/beacon\.py|^pysquared/logger\.py|^pysquared/rtc/manager/microcontroller\.py)
  prevent-pyright-ignore: any of: ^pysquared/ and \.py$
